# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# FastAPI / Logs
*.log

# Uploaded Resumes
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Python Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Misc
*.tmp
*.bak